/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb;
    color: #111827;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* Sticky header styles */
    background-color: #2563eb;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #e5e7eb;
}

footer {
    background-color: #2563eb;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 80px; /* To avoid overlap with the footer */
    right: 20px;
    z-index: 1100; /* Higher than the footer */
    display: none;
    width: 50px;
    height: 50px;
    background-color: #2563eb;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #1e3a8a;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    img {
        height: 8rem;
    }

    footer ul {
        flex-wrap: wrap;
        gap: 10px;
    }
}
